.main{
    height: auto;
}

.cards{
    margin: 30px;
    height: auto;
    padding-bottom: 30px;
}

/* .card{
    width: 20vw;
    height: 20vh;
} */

.form-select {
    display: inline;
    width: 10vw;
    margin-left: 5px;
}

.container-sm{
    /* margin-top: 15px; */
    width: 50%;
    margin: 15px auto ;
    padding: 0px 2vw;
}